# create ".gitconfig.user" for setting user name and email in the same directory as .gitconfig
[include]
	path = .gitconfig.user
[core]
	editor = vim -c \"set fenc=utf-8\"
[color]
	ui = true
[alias]
	alias = config --get-regexp \"alias.*\"
	# graph
	g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	s = status
	cmm = commit -m
	cmae = commit --allow-empty -m 'Initialize repository'
	cmam = commit --amend
	cmamne = commit --amend --no-edit
	ch = checkout
	chb = checkout -b
	b = branch
	me = merge
	d = diff
	dc = diff --cached
