# create ".gitconfig.user" for setting user name and email in the same directory as .gitconfig
[include]
path = .gitconfig.user

[core]
editor = vim -c \"set fenc=utf-8\"
excludesfile = ~/.gitignore_global

[color]
ui = true

[alias]
alias = config --get-regexp \"alias.*\"
g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %<(70,trunc)%s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
gt = log --tags --graph --pretty=format:'%Cred%h%Creset %Cgreen%ai %C(yellow)%<(30,trunc)%D%Creset %<(70,trunc)%s' --simplify-by-decoration
l = log
lp = log -p
ls = log --stat
s = status
cm = commit
cmm = commit -m
cmae = commit --allow-empty -m 'Initialize repository'
cmam = commit --amend
cmamne = commit --amend --no-edit
ch = checkout
chb = checkout -b
chm = checkout master
b = branch
ba = branch -a
bd = branch -D
bdr = branch -rd
me = merge
mes = merge --squash
d = diff
dc = diff --cached
dwd = diff --word-diff
r = rebase
ri = rebase -i
rc = rebase --continue
p = push
pc = !git push -u origin `git rev-parse --abbrev-ref HEAD`
pcf = !git push -fu origin `git rev-parse --abbrev-ref HEAD`
first = !git ch $(git rev-list --max-parents=0 master)
prev = checkout HEAD^1
next = !git log --reverse --pretty=%H master | grep -A1 $(git rev-parse HEAD) | tail -1 | xargs git checkout
[init]
	templateDir = /home/maya/.git-templates/git-secrets
